@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #ededed;
  }
}


.prompt-thin {
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.prompt-extralight {
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.prompt-light {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.prompt {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.prompt-medium {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.prompt-semibold {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.prompt-bold {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.prompt-extrabold {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.prompt-black {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.prompt-thin-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.prompt-extralight-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.prompt-light-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.prompt-regular-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.prompt-medium-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.prompt-semibold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.prompt-bold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.prompt-extrabold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.prompt-black-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: italic;
}



.container {
  max-width: 1300px;
  margin: auto;
}

.info-tag-bg {
  background-color: rgba(196, 159, 235, 0.62);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.98); }
    to { opacity: 1; transform: scale(1); }
  }
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }
}
/* 2. Set the default top margin for all sections */
section {
  margin-top: 25px;
  margin-bottom: 25px;
}
.personalizer-care{
  padding:0;
}


/* 3. Add a bottom margin only to the very last section */
section:last-child {
  margin-bottom: 0px;
}

.hero-section-title{
  font-family: Prompt;
  font-weight: 500;
  font-style: Medium;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0%;

}
.hero-section-paragraph{
  margin-top: 25px;
  font-family: Prompt;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 23px;
letter-spacing: 0%;
max-width: 90%;
}
.hero-button-main{
  font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}
  .hero-button-secondary{
    font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

  }
  .hero-features-grid-span{
    font-family: Prompt;
font-weight: 500;
font-style: Medium;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

  }

.bg-gradient-purple {
  background: linear-gradient(90deg, #EEDFFF 40.87%, #C49FEB 100%);
}
 .symptoms-main-title{
  font-family: Prompt;
font-weight: 400;
font-style: Regular;
font-size: 40px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

 }


.menopause-care{
background: radial-gradient(82.13% 82.13% at 50% 50%, #774180 0%, #202020 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  
}





.see-more-personalized-care{
  background-color: rgba(255, 255, 255, 0.5);
  color:white;
}
@media (max-width:768px) {
  .see-more-personalized-care{
  background-color: black;
  color:white;
}

  .hero-section-title{
    font-family: Prompt;
font-weight: 500;
font-style: Medium;
font-size: 32px;
line-height: 37px;
letter-spacing: 0%;

  }
  .hero-section-paragraph{
    font-family: Prompt;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0%;

  }
  .hero-button-main{
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

  }
  .hero-button-secondary{
    font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;

  }
    .hero-features-grid-span{
      font-family: Prompt;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;

    }
 .symptoms-main-title{
      font-family: Prompt;
font-weight: 400;
font-style: Regular;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;

    }
    
}